<!DOCTYPE html>
<html>

<head>
    <!-- 引入 Vuetify 的 CSS -->
    <link href="../static/css/materialdesignicons.min.css" rel="stylesheet">
    <link href="../static/css/vuetify.min.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
</head>

<body>

    <div id="app">
        <!-- App.vue 根组件 -->

        <v-app>
            <v-row no-gutters>
                <!-- 左侧框 -->
                <v-col cols="2">
                    <v-card class="fill-height">
                        <!-- 这里放置左侧内容 -->
                        <v-btn color="white" block @click="create" elevation="0">
                            <v-icon left>mdi-plus</v-icon> <!-- 左侧图标 -->
                            创建新助手
                            <v-icon right>mdi-arrow-right</v-icon> <!-- 右侧图标 -->
                        </v-btn>

                        <!-- 底部 div -->
                        <div class="bottom-div">
                            <v-btn color="white" block @click="me" elevation="0" style="width: 100%;">
                                <v-avatar size="24" left>
                                    <img src="../static/other/a-lovely-human-being.png" alt="Avatar">
                                </v-avatar>
                                <span>个人信息</span>
                            </v-btn>
                        </div>
                    </v-card>
                </v-col>

                <!-- 右侧框 -->
                <v-col cols="10">
                    <v-card class="fill-height">
                        <!-- 添加展开左侧工具栏的按钮 -->
                        <v-app-bar elevation="0" outlined></v-app-bar>
                        <!-- 消息列表 -->
                        <v-container style="height: 60vh;max-height: 60vh;overflow-y: auto;" id="message-list">
                            <!-- 添加底部内边距 -->
                            <v-row v-for="(message, index) in messages" :key="index">
                                <v-col cols="auto">
                                    <v-avatar size="40">
                                        <img :src="message.sender === 'robot' ? '../static/other/a-lovely-robot.png' : '../static/other/a-lovely-human-being.png'"
                                            alt="Avatar">
                                    </v-avatar>
                                </v-col>
                                <v-col>
                                    <div>
                                        <span style="font-weight: bold;">{{ message.sender === 'robot' ? '小海' :
                                            '你' }}</span>
                                    </div>
                                    <div>
                                        <span>{{ message.content }}</span>
                                    </div>
                                </v-col>
                            </v-row>
                        </v-container>
                        <!-- 这里放置右侧内容 -->
                        <div>
                            <div class="chat-input">
                                <v-textarea v-model="newMessage":disabled="disableSend" counter label="输入消息..." outlined dense clearable
                                    append-icon="mdi-send" @click:append="sendMessage" no-resize
                                    style="max-height: 200px"></v-textarea>
                            </div>
                        </div>
                    </v-card>
                </v-col>
            </v-row>
        </v-app>
    </div>
    <style>
        .chat-input {
            padding: 20px;
        }

        .bottom-div {
            position: absolute;
            bottom: 0;
            width: 100%;
            background-color: #fff;
            padding: 10px;
        }

        .resize-none {
            resize: none;
        }

        .custom-scrollbar-y {
            overflow-y: auto;
            max-height: 300px;
            /* 设置最大高度以显示滚动条 */
        }

        .custom-scrollbar-y::-webkit-scrollbar {
            width: 8px;
            /* 设置滚动条的宽度 */
        }

        .custom-scrollbar-y::-webkit-scrollbar-thumb {
            background-color: #888;
            /* 设置滚动条滑块的背景颜色 */
            border-radius: 4px;
            /* 设置滚动条滑块的圆角 */
        }

        .custom-scrollbar-y::-webkit-scrollbar-track {
            background-color: #f1f1f1;
            /* 设置滚动条轨道的背景颜色 */
        }
    </style>
    <!-- 引入 Vue 和 Vuetify 的 JS -->
    <script src="../static/js/vue.js"></script>
    <script src="../static/js/vuetify.js"></script>
    <script src="../static/js/socket.io.min.js"></script>
    <script src="../static/js/vuex.min.js"></script>

    <script>
        new Vue({
            el: '#app',
            vuetify: new Vuetify({
                icons: {
                    iconfont: 'mdi', // 默认图标集
                },
            }),
            data: {
                items: [
                    'Item 1',
                    'Item 2',
                    'Item 3',
                    'Item 4',
                    'Item 5',
                    'Item 6',
                    'Item 7',
                    'Item 8',
                    'Item 9',
                    'Item 10',
                    // 添加更多项...
                ],
                messages: [
                    { sender: 'robot', content: "你好，我是你的机器人，有什么可以帮助你的吗？" }
                ],
                newMessage: "",
                drawer: true, // 控制左侧工具栏的展开与收起
                isSmallScreen: false,
                disableSend: false, // 新增的 disableSend 属性
            },
            mounted() {
                window.addEventListener("resize", this.checkScreenWidth);
                this.checkScreenWidth();
                this.socket = io.connect('http://127.0.0.1:5000'); // 连接到服务器
                this.socket.on('bot response', (msg) => {
                    // 获取当前消息的长度，只创建一次的消息容器
                    let msgLen = this.messages.length;
                    // 找到最新一个robot消息加入到机器人消息中
                    this.messages[this.messages.length - 1].content = msg;
                    // 滚动到底部
                    this.scrollToBottom()
                    // 如果消息末尾以换行结束则说明消息已经接受完毕
                    if (this.messages[this.messages.length - 1].content.endsWith('\n')) {
                        // 禁止用户再次发送消息
                        this.disableSend = false;
                    }else{
                        this.disableSend = true;
                    }
                });
                window.addEventListener('keydown', this.handleHotkey);
            },
            methods: {
                // 个人信息
                me() {


                },
                sendMessage() {
                    // 在这里添加发送消息的逻辑
                    if (this.newMessage !== "") {
                        this.messages.push({ sender: 'human', content: this.newMessage });
                        this.socket.emit('chat message', this.newMessage);
                        this.messages.push({
                            sender: 'robot',
                            content: '生成中...',
                        });
                        this.newMessage = ""; // 清空输入框
                        //滚到底部
                        this.scrollToBottom();
                        // 禁止用户再次发送消息
                        this.disableSend = true;
                    }
                },
                checkScreenWidth() {
                    this.isSmallScreen = window.innerWidth < 960; // 调整阈值以适应你的需要
                },
                toggleDrawer() {
                    this.drawer = !this.drawer;
                },
                create() {
                    window.open('/create', '_blank');
                },                // 滚动到底部的方法
                scrollToBottom() {
                    this.$nextTick(() => {
                        const container = this.$el.querySelector('#message-list');
                        if (container) {
                            container.scrollTop = container.scrollHeight;
                        }
                    });
                },
                // 热键处理函数
                handleHotkey(event) {
                    // Enter：发送消息
                    if (event.keyCode === 13) {
                        // 调用发送消息的方法
                        this.sendMessage();
                    }
                    // ctrl+enter键：换行
                    if (event.ctrlKey && event.keyCode === 13) {
                        // 输入框换行


                    }
                }
            },
            beforeDestroy() {
                window.removeEventListener("resize", this.checkScreenWidth);
                // 在组件销毁前移除热键监听器
                window.removeEventListener('keydown', this.handleHotkey);
            }

        })
    </script>

</body>

</html>