<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/contract.css">
    <link rel="stylesheet" href="../static/css/reset.css">
    <title>用户协议</title>
</head>
<body>
    <div class="contract">
        <h1 class="title">心聆守护用户协议</h1>
        <div class="main">
            <div class="retract">
                    <p>
                        欢迎您选择使用心聆守护的产品与服务！本协议是由心聆守护的提供者——上海坤零科技有限公司（以下简称“（本）公司”或“我们”）与您（如您是自然人用户）或您所代表的实体（如您是法人用户）共同达成的，旨在规范您对心聆守护平台及其相关服务（以下简称“本服务”或“心聆守护服务”）的使用行为。请您在使用前仔细阅读本协议，确保充分理解并同意其中的各项条款。
                    </p>
                    <p>
                        我们强烈建议您在使用本服务之前，务必认真阅读本协议（<b>对于未满18周岁的未成年人，我们建议在法定监护人的陪同下阅读</b>），并充分理解其中的所有条款。特别是那些以加粗字体显示的关键部分，如服务费用、免责声明、法律管辖和适用等，更需要您的格外关注。如果您对任何条款持有异议，这可能会导致我们无法为您提供完整的产品和服务，此时您可以选择停止使用本服务。<b>然而，如果您选择继续并自主同意本协议，或进行注册、登录、使用等行为，这都将被视为您对本协议的接受，并表明您愿意遵守本协议中的所有条款</b>。
                    </p>
            </div>
            <div class="rule1">
                    <h2>一、总则</h2>
                    <p>
                        1.1	当用户按照页面提示成功完成全部注册流程后，即意味着与上海坤零科技有限公司达成了正式协议，并明确表示<b>完全同意和接受</b>本协议中列出的所有条款和条件。通过使用心聆守护服务，用户进一步表明其愿意遵守并遵循本用户协议中的所有规定。若用户对任何条款持有异议或不同意，我们恳请其避免使用本网站。我们强调，用户的使用行为将被视为对协议内容的明确接受和遵守。
                    </p>
                    <p>
                        1.2	注册流程完成后，上海坤零科技有限公司将为每位用户分配一个专属的用户账号及相应的密码。作为账号的所有者，用户有义务妥善保管这些账号信息，确保其不被未经授权的个人或实体所获取。用户需对通过其账号进行的所有活动和事件承担法律责任，这意味着任何通过该账号产生的行为都将被视为用户的个人行为，并由用户承担相应的法律后果。我们强烈建议用户定期更新密码，并避免在公共场合或与他人分享账号信息，以确保账号安全。
                    </p>
                    <p>
                        1.3	本网站提供的服务可能因应需求变化而随时进行必要的调整或修改。我们拥有<b>在任何时候</b>对服务进行修改或终止的权利，并保留<b>不另行通知</b>用户的权力。我们致力于持续优化服务，以满足用户的需求和期望，同时也保留对服务内容进行调整的权利，以适应市场变化和技术发展。我们建议您定期检查本网站的相关公告，以获取最新的服务信息。
                    </p>
            </div>

            <div class="rule2">
                    <h2>二、账户注册与隐私安全</h2>
                    <p>
                        2.1	 在使用本网站的功能或服务时，您需要创建一个账号。这个账号的所有权归上海坤零科技有限公司所有，而用户通过完成注册流程，将获得该账号的使用权。我们强调，用户在使用账号时，必须遵守我们的使用规则，且不得将账号转让或出售给第三方。我们保留在任何时候对账号的使用权进行管理和监督的权利，以确保服务的正常运行和用户的权益。
                    </p>
                    <p>
                        2.2	您有责任确保您的账户信息准确无误并严格保密。同时，您需对您的账户活动承担全部责任。一旦发现任何未经授权使用您账户的情况，您应立即通知我们，以便我们及时采取必要措施保护您的权益并维护账户安全。
                    </p>
                    <p>
                        2.3	用户必须严格遵循账号和密码的个人使用原则，严禁将账号和密码转让或出借给任何第三方使用。这是为了保障账号安全，维护个人信息安全，以及确保服务的正常运行。任何违反此规定的行为，都将承担相应的法律责任和后果。
                    </p>
                    <p>
                        2.4	如果账号因黑客攻击或用户自身疏忽导致未能妥善保管而被他人非法使用，上海坤零科技有限公司将不承担任何责任。用户应当自行负责确保账号安全，并采取必要措施防范潜在的安全风险。在此情况下，用户应及时通知上海坤零科技有限公司，以便我们协助处理相关事宜，但公司不承担因用户自身原因导致的账号非法使用的任何责任。
                    </p>
                    <p>
                        2.5  上海坤零科技有限公司不对外或第三方公开用户信息，除非： 
                    </p>

                    <div  class="retract2">
                        <p>2.5.1		事先获得用户的明确授权；</p>   
                        <p>2.5.2		只有透露你的个人资料，才能提供你所要求的产品和服务；</p> 
                        <p>2.5.3		根据有关的法律法规要求；</p>
                        <p>2.5.4		按照相关政府主管部门的要求；</p>
                        <p>2.5.5		为维护上海坤零科技有限公司的合法权益。</p>
                    </div>
            </div>
            <div class="rule3">
                    <h2>三、用户行为规范</h2>
                    <p>
                        3.1	用户在使用上海坤零科技有限公司服务时，<b>必须遵守中华人民共和国相关法律法规</b>。不得从事以下活动，包括但不限于：
                    </p>
                    <div class="retract31">
                        <p>3.1.1	  反对宪法所确定的基本原则的；</p>
                        <p>3.1.2	  危害国家安全，泄露国家秘密，颠覆国家政权，破坏国家统一的；</p>
                        <p>3.1.3  损害国家荣誉和利益的；</p>
                        <p>3.1.4  煽动民族仇恨、民族歧视、破坏民族团结的； </p>
                        <p>3.1.5  破坏国家宗教政策，宣扬邪教和封建迷信的； </p>
                        <p>3.1.6	  散布谣言，扰乱社会秩序，破坏社会稳定的； </p>
                        <p>3.1.7  散布淫秽、色情、赌博、暴力、凶杀、恐怖或者教唆犯罪的；</p>
                        <p>3.1.8  侮辱或者诽谤他人，侵害他人合法权利的； </p>
                        <p>3.1.9  含有虚假、有害、胁迫、侵害他人隐私、骚扰、侵害、中伤、粗俗、猥亵、或其它道德上令人反感的内容； </p>
                        <p>3.1.10  含有中国法律、法规、规章、条例以及任何具有法律效力之规范所限制或禁止的其它内容的。</p>
                    </div>
                    <p>
                        3.2	您明确表示同意，在使用本网站的过程中，<b> 不会进行任何违法、侵犯他人权利或违背公共道德的行为</b>。同时，您也承诺不会以任何形式损害、干扰或滥用本网站及其提供的服务。这意味着您将遵守所有适用的法律法规，尊重他人的知识产权和隐私权，并维护网络空间的公共秩序和良好风尚。通过遵守这些规定，您将共同营造一个安全、健康、和谐的网络环境。
                    </p>
                    <p>
                        3.3	 本网站上的所有内容，包括但不限于文字资料、图片、图形设计、品牌标志、功能按钮图标、音频视频素材以及软件程序等，均受到严格的知识产权法保护。除非出于<b>获取信息的正当目的</b>，且<b>事先获得我们的书面许可</b>，否则禁止任何形式的复制、修改、传播、展示或利用上述内容。我们坚决维护知识产权的合法性和完整性，对于任何侵犯知识产权的行为，我们将依法追究其法律责任。请广大用户共同遵守知识产权法规，尊重原创，共同营造一个健康、有序的网络环境。
                    </p>
                    <p>
                        3.4	不得通过输入，诱导生成违反相关法律法规的输出，包括但不限于：
                    </p>
                    <div class="retract34">
                        <p>3.4.1  反对宪法所确定的基本原则。</p>
                        <p>3.4.2  危害国家安全，泄露国家秘密，颠覆国家政权，推翻社会主义制度，破坏国家统一。</p>
                        <p>3.4.3  损害国家荣誉和利益。</p>
                        <p>3.4.4  煽动民族仇恨、民族歧视，破坏民族团结。</p>
                        <p>3.4.5  侮辱、滥用英烈形象，否定英烈事迹，美化粉饰侵略战争行为的。</p>
                        <p>3.4.6  破坏国家宗教政策，宣扬邪教和封建迷信。</p>
                        <p>3.4.7  散布谣言、虚假有害信息，扰乱社会秩序，破坏社会稳定。</p>
                        <p>3.4.8  宣扬淫秽、色情、赌博、暴力、凶杀、恐怖主义、极端主义或者教唆犯罪。</p>
                        <p>3.4.9  煽动非法集会、结社、游行、示威、聚众扰乱社会秩序。</p>
                        <p>3.4.10  诽谤他人，泄露他人隐私，侵害他人名誉权、肖像权、隐私权、知识产权和其他合法权益。</p>
                        <p>3.4.11  破坏国际关系以及国际和平稳定。</p>
                        <p>3.4.12  含有法律、行政法规禁止的其他内容的信息。</p>
                    </div>
                    <p>
                        3.5  不得通过输入，诱导生成不友善对话的输出，包括但不限于：
                    </p>
                    <div class="retract35">
                        <p>3.5.1  人身攻击及辱骂他人。</p>
                        <p>3.5.2  针对以下群体发表诅咒、歧视、漠视生命尊严等性质的言论，群体包括：不同特定国籍、地域、性别、性别认同、性倾向、种族、民族、健康状况、职业、年龄、信仰、残障群体等。</p>
                        <p>3.5.3  对他人进行诅咒、恐吓或威胁。</p>
                        <p>3.5.4  对其他用户创作的内容直接进行贬低性的评论。</p>
                        <p>3.5.5  对其他用户使用粗俗用语，并产生了冒犯。</p>
                        <p>3.5.6  针对以下群体发表偏见性质的言论，群体包括：特定国籍、地域、性别、性别认同、性倾向、种族、民族、健康状况、职业、年龄、信仰、残障群体等。</p>
                    </div>

                    <div class="rule4">
                        <h2>四、免责声明</h2>
                        <p>4.1	<b>信息准确性：</b> 本网站的所有信息仅供参考之用。我们尽力确保提供的信息准确无误，但不对其完整性、实时性或适用性作任何明示或暗示的保证。</p>
                        <p>4.2	<b>服务可用性：</b> 我们保留在任何时候修改或终止网站服务的权利，恕不另行通知。我们不对网站的临时中断或终止而导致的损失或不便负任何责任。</p>
                        <p>4.3	<b>链接到第三方网站：</b> 本网站可能包含到第三方网站的链接，这些链接仅为方便用户提供。我们对这些链接的内容或可用性不承担任何责任。</p>
                        <p>4.4	<b>使用风险：</b> 使用本网站提供的信息和服务产生的所有风险由用户自行承担。我们不对因使用本网站而导致的任何直接或间接损失负责。</p>
                        <p>4.5	<b>免责声明变更：</b> 我们保留随时修改本免责声明的权利。变更将在网站上发布，并自发布之日生效。您继续使用本网站将被视为您接受这些变更。</p>
                        <p>4.6	<b>隐私政策：</b> 您同意遵守本网站的隐私政策，详细了解我们对个人信息的收集、使用和披露方式。</p>
                        <p>4.7  <b>评估报告：</b> 本网站所提供的评估报告完全由人工智能（AI）自动生成，仅供用户参考之用。请注意，该报告并<b>不具备任何法律效力</b>，<b>也不应被视为任何形式的正式评判标准</b>。用户在使用本评估报告时，请务必谨慎并自行判断其真实性和适用性。</p>
                    </div>                

                    <div class="rule5">
                        <h2>五、用户使用特别提醒</h2>
                        <p>5.1	本网站融入了先进的人工智能技术，这种技术本质上旨在模拟人类的思维信息过程。为了实现这一目标，它涉及了广泛的学科领域，其中包括心理学，以确保其能够更深入地理解和模拟人类的思维方式和行为模式。</p>
                        <p>5.2	<b>在未进行人工干预的情况下，网页上的内容完全由AI技术生成</b>，因此其准确性和可靠性并不能作为最终的评判依据，而只能作为一种参考信息。鉴于AI技术目前仍在不断发展和完善的过程中，<b>上海坤零科技有限公司不会承担任何因用户依据AI生成的内容进行活动而可能产生的后果或责任</b>。我们强烈建议，在进行任何决策或行动之前，用户应自行核实相关信息，并谨慎考虑可能的风险和后果。</p>
                        <p>5.3	心聆守护作为一个专业的平台，致力于为专业心理咨询师和实习大学生提供一个与用户交流的渠道。虽然我们的平台为用户与这些人士提供了交流的便利，但我们必须明确指出，<b>由于我们无法全面管控专业心理咨询师或实习大学生的语言行为，因此他们在平台上的言论和行动并不代表公司的立场</b>。心聆守护仅仅作为信息传播的媒介，为用户和心理咨询师之间搭建桥梁，<b>我们不对他们的语言等行为承担任何责任</b>。在使用本服务时，请您保持审慎和理性，自行判断信息的真实性和适用性。</p>
                    </div>

                    <div class="rule6">
                        <h2>六、其他条款</h2>
                        <p>6.1	我们保留随时修改本用户协议的权利。变更将在网站上发布，并自发布之日生效。您继续使用本网站将被视为您接受这些变更。</p>
                        <p>6.2	本用户协议受到当地法律的约束。任何因使用本网站而引起的争议应尽量通过友好协商解决。若协商不成，双方同意将争议提交至相关法院解决。</p>
                    </div>

                    <div class="rule7">
                        <h2>七、定义</h2>
                        <p>7.1	“我们”或“（本）公司”，指的是上海坤零科技有限公司；</p>
                        <p>7.2  “您”或“你”，指的是使用心聆守护服务的参与者；</p>
                        <p>7.3  “心聆守护”，指的是上海坤零科技有限公司依托chatglm3-6b大模型的技术推出的生成类人工智能问答类技术服务；</p>
                        <p>7.4	“心聆守护平台”，指<b>http://tranquilecho.top/网站；</b></p>
                        <p>7.4	“心聆守护平台”，指<b>http://tranquilecho.top/网站；</b></p>
                        <p>7.5	“个人信息”，指以电子或者其他方式记录的与已识别或者可识别的自然人有关的各种信息，不包括匿名化处理后的信息。个人信息包括个人基本信息、个人身份信息、个人生物识别信息、网络身份标识信息、个人健康生理信息、个人教育工作信息、个人财产信息、个人通信信息、联系人信息、个人上网记录、个人常用设备信息、个人位置信息等。为免疑义，个人信息包括但不限于敏感个人信息。</p>
                        <p>7.6  “中国”或“中国境内”，指中华人民共和国大陆地区，<b>仅为本个人信息保护规则之目的</b>，不包含香港特别行政区、澳门特别行政区和台湾地区。</p>
                    </div>
            </div>
        </div>
    </div>
</body>
</html>