<!DOCTYPE html>
<html>
<head>
  <!-- 引入 Vuetify 的 CSS -->
  <link href="../static/css/materialdesignicons.min.css" rel="stylesheet">
  <link href="../static/css/vuetify.min.css" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
</head>
<body>

  <div id="app">
    <!-- App.vue -->

    <v-app>
      <v-navigation-drawer app>
        <!-- 聊天室列表 -->
        <v-list>
          <v-list-item
            v-for="(roomName, index) in roomNames"
            :key="index"
            @click="currentRoom = roomName"
          >
            <v-list-item-content>
              <v-list-item-title>{{ roomName }}</v-list-item-title>
            </v-list-item-content>
          </v-list-item>
        </v-list>
      </v-navigation-drawer>

      <v-app-bar app>
        <!-- 当前聊天室标题 -->
        <v-toolbar-title>{{ currentRoom || '请选择一个聊天室' }}</v-toolbar-title>
      </v-app-bar>

      <!-- 聊天内容区域 -->
      <v-main>
        <v-container fluid>
          <!-- 消息列表 -->
          <v-list>
            <v-list-item
              v-for="(message, index) in messages"
              :key="index"
            >
              <v-list-item-content>
                <v-list-item-title>{{ message }}</v-list-item-title>
              </v-list-item-content>
            </v-list-item>
          </v-list>
        </v-container>
      </v-main>

      <!-- 输入区域 -->
      <v-footer app>
        <v-row>
          <v-col cols="12">
            <v-text-field
              v-model="newMessage"
              label="输入消息"
              append-icon="mdi-send"
              @click:append="sendMessage"
            ></v-text-field>
          </v-col>
        </v-row>
      </v-footer>
    </v-app>
  </div>

  <!-- 引入 Vue 和 Vuetify 的 JS -->
  <script src="../static/js/vue.js"></script>
  <script src="../static/js/vuetify.js"></script>
  <script src="../static/js/socket.io.min.js"></script>
  <script src="../static/js/vuex.min.js"></script>

  <script>
    new Vue({
      el: '#app',
      vuetify: new Vuetify({
        icons: {
          iconfont: 'mdi', // default - only for display purposes
        },
      }),
      data: {
        roomNames: ["心灵港湾", "抑郁症支持小组", "焦虑自助论坛", "情绪管理交流室", "压力释放空间", "自尊心建设营", "积极心态工作坊", "心理健康启航", "情感调适中心", "幸福生活讨论区"],
        currentRoom: '',
        username: '',
        messages: [],
        newMessage: '',
        newEmotion: ''
      },
      methods: {
        sendMessage: function() {
          if (this.newMessage.trim() !== '') {
            // 将消息添加到消息列表
            this.messages.push(this.newMessage);
            // 清空输入框
            this.newMessage = '';
          }
        },
        sendImage: function() {
          // 在这里添加发送图片的逻辑
        },
        sendEmotion: function() {
          // 在这里添加发送表情的逻辑
        }
      }
    })
  </script>

</body>
</html>