<!DOCTYPE html>
<html>

<head>
  <!-- 引入 Vuetify 的 CSS -->
  <link href="../static/css/materialdesignicons.min.css" rel="stylesheet">
  <link href="../static/css/vuetify.min.css" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
  <style>
    .warm-gradient {
      background: linear-gradient(45deg, #FFB74D, #FF8A65);
    }
    .v-application--wrap {
      transition: background-color 0.5s;
    }
    .v-btn:hover {
      transform: translateY(-3px);
      box-shadow: 0 4px 6px rgba(0,0,0,0.2);
    }
  </style>
</head>

<body>
  <div id="app">
    <v-app class="warm-gradient">
      <v-container class="pa-5">
        <!-- 登录卡片 -->
        <v-card class="mb-5 elevation-12">
          <v-card-title class="headline">登录</v-card-title>
          <v-card-text>
            <v-form>
              <v-text-field label="邮箱" required solo></v-text-field>
              <v-text-field label="密码" type="password" required solo></v-text-field>
              <v-btn color="primary accent-4" class="mr-4">登录</v-btn>
              <v-btn text @click="showRegister = true">没有账号？注册</v-btn>
            </v-form>
          </v-card-text>
        </v-card>

        <!-- 注册对话框 -->
        <v-dialog v-model="showRegister" persistent max-width="600px">
          <v-card>
            <v-card-title class="headline">注册新账号</v-card-title>
            <v-card-text>
              <v-form>
                <v-text-field label="用户名" required solo></v-text-field>
                <v-text-field label="邮箱" required solo></v-text-field>
                <v-text-field label="密码" type="password" required solo></v-text-field>
                <v-text-field label="确认密码" type="password" required solo></v-text-field>
                <v-btn color="deep-orange accent-4" class="mr-4">注册</v-btn>
                <v-btn text @click="showRegister = false">取消</v-btn>
              </v-form>
            </v-card-text>
          </v-card>
        </v-dialog>
      </v-container>
    </v-app>
  </div>

  <!-- 引入 Vue 和 Vuetify 的 JS -->
  <script src="../static/js/vue.js"></script>
  <script src="../static/js/vuetify.js"></script>

  <script>
    new Vue({
      el: '#app',
      vuetify: new Vuetify(),
      data() {
        return {
          showRegister: false
        };
      },
      methods: {
        // 在这里添加方法
      }
    });
  </script>
</body>

</html>