<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/Privacy_Policy.css">
    <link rel="stylesheet" href="../static/css/reset.css">
    <title>隐私政策</title>
</head>
<body>
    <div class="policy">
        <h1 class="title">隐私协议</h1>
        <!-- 序言 -->
        <div class="prologue">
            <p>
                本隐私政策旨在向用户阐述本网站（以下简称“我们”或“本网站”）如何收集、使用、存储、共享和保护用户的个人信息，以及用户如何访问、更新、控制和保护其个人信息。请务必仔细阅读本隐私政策，以确保您对我们的隐私保护实践有清晰的了解。
            </p>
        </div>
        <!-- 正文 -->
        <div class="main">
            <div class="collect">
                <h2>一、收集的个人信息</h2>
                <p>
                    1.	用户注册信息：当用户在本网站注册时，我们需要用户提供包括但不限于用户名、密码、邮箱地址等基本信息。
                </p>
                <p>
                    2.	设备信息：为了提供更好的用户体验，我们可能会收集用户的设备信息，如设备型号、操作系统版本、IP地址等。
                </p>
                <p>
                    3.	使用数据：我们会收集用户在使用本网站过程中的行为数据，以优化我们的服务和产品。
                </p>
            </div>

            <div class="use">
                <h2>二、个人信息的使用</h2>
                <p>
                    1.	提供服务：我们会使用收集到的个人信息为用户提供注册、登录、浏览、购买等服务。
                </p>
                <p>
                    2.	优化产品与服务：我们会对收集到的使用数据进行分析，以了解用户需求，优化我们的服务和产品。
                </p>
                <p>
                    3.	营销与推广：在遵守相关法律法规的前提下，我们可能会向用户发送有关本网站产品或服务的推广信息。
                </p>
            </div>
            <div class="restore-protect">
                <h2>三、个人信息的存储与保护</h2>
                <p>
                    1.	我们将采用合理的物理、技术和组织手段保护用户的个人信息，防止其被非法获取、使用、篡改或泄露。
                </p>
                <p>
                    2.	我们仅在必要时保留用户的个人信息，并在达到法定保留期限后予以销毁。
                </p>
            </div>

            <div class="share">
                <h2>四、个人信息的共享</h2>
                <p>
                    1.	我们不会将用户的个人信息出售给任何第三方。
                </p>
                <p>
                    2.	在以下情况下，我们可能会与第三方共享用户的个人信息：
                </p>
                <div class="retract">
                    <p>
                        （1）经用户明确同意；
                    </p>
                    <p>
                        （2）为了提供用户所需的服务，与合作伙伴共享必要的信息；
                    </p>
                    <p>
                        （3）根据法律法规的要求，向有关部门提供相关信息。
                    </p>
                </div>
            </div>

            <div class="right">
                <h2>五、用户权利</h2>
                <p>
                    1.	用户有权访问、更正和删除其在本网站的个人信息。
                </p>
                <p>
                    2.	用户可以通过本网站提供的相应功能或联系我们的客服，行使上述权利。
                </p>
            </div>

            <div class="change-update">
                <h2>六、变更与更新</h2>
                <p>我们可能会根据业务发展、法律法规变化等因素，适时对本隐私政策进行修订。在修订后，我们会通过本网站或其他适当方式通知用户。请用户定期查看本隐私政策，以了解最新的隐私保护措施。</p>
            </div>

            <div class="contact">
                <p>如您在使用本网站过程中有任何关于隐私保护的疑问或建议，请随时通过以下方式与我们联系：</p>
                <p>电子邮件：[您的邮箱地址]</p>
                <p>联系电话：[您的联系电话]</p>
                <p>我们承诺将尽快回复您的咨询或建议，并为您提供满意的答复。</p>
                <p>请注意，本隐私政策仅适用于本网站。当用户访问与本网站链接的其他网站或服务时，应遵守该网站或服务的隐私政策。</p>
                <p>感谢您的信任与支持，我们将竭尽所能保护您的隐私安全。</p>
            </div>
        </div>
    </div>
</body>
</html>