<!DOCTYPE html>
<html>
<head>
  <!-- 引入 Vuetify 的 CSS -->
  <link href="../static/css/materialdesignicons.min.css" rel="stylesheet">
  <link href="../static/css/vuetify.min.css" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
</head>
<body>

  <div id="app">
    <!-- App.vue 根组件 -->

    <v-app>
      
    </v-app>
  </div>

  <!-- 引入 Vue 和 Vuetify 的 JS -->
  <script src="../static/js/vue.js"></script>
  <script src="../static/js/vuetify.js"></script>
  <script src="../static/js/socket.io.min.js"></script>
  <script src="../static/js/vuex.min.js"></script>

  <script>
    new Vue({
      el: '#app',
      vuetify: new Vuetify({
        icons: {
          iconfont: 'mdi', // 默认图标集
        },
      }),
      data: {


      },
      methods: {

      }
    })
  </script>

</body>
</html>